<style>
#show-response {
  border: 1px solid #333;
  padding: 5px;
  margin: 5px;
}
.overlap {
  border: 1px solid #ccc;
  background-color: #A61C3C;
  width: 200px;
  height: 50px;
  position: relative;
  top: -30px;
  left: -10px;
}
#iframe-div {
  border: 5px solid #92BFB1;
  display: none;
  height: 360px;
  width: 100%;
}

#nest_root {
 border: 2px solid red;
 width: 300px;
 float: left;
 margin: 10px;
}
#examples_container {
  float: left;
  border: 2px solid blue;
  margin: 10px;
}
</style>
<script
  src="https://code.jquery.com/jquery-3.5.1.min.js"
  integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
  crossorigin="anonymous"></script>


<div id="nest_root">
  <section name="top">
    <div class="header">
      <h3>NEWS!</h3>
      <p>read all about it.</p>
    </div>
    <div class="nest_child">
      <div class="images">
        <img src="/ducks.jpg" width="200px" />
        <p>A duck looking at the camera!</p>
      </div>
    </div>
    <div class="nest_child">
      <p>Take the 5 south!</p>
    </div>
    <div class="nest_child">
      <p>Being happy is a choice.</p>
    </div>
  </section>
  <section name="bottom">
  </section>

  <section name="geolocation">
    <button id="getLocation">Get Current GeoLocation</button>
    <div class="geolocation_results">
    </div>
  </section>
  <script>
    const showGeolocationResults = (results) => {
      $("section .geolocation_results").html(results);
    };

    const showPosition = (position) => {
      setTimeout(() => {
        const html = `<div> Latitude: ${position.coords.latitude}</div>` +
          `<div>Longitude: ${position.coords.longitude}</div>`;
        showGeolocationResults(html);
      }, 3000);
    };

    const getCurrentLocation = () => {
      if(navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
      } else {
        showGeolocationResults("<div>Geolocation is not supported. "+
              "Could not access geo location</div>");
      }
    };

    $(document).ready(() => {
      $("button#getLocation").click((e) => {
          e.preventDefault();
          showGeolocationResults("<div>Please wait, getting location...</div>");
          getCurrentLocation();
      });
    });
  </script>

  <hr />
  <section name="cookies">
    <div>
      <h2>Cookie Munster</h2>
    </div>
    <div>
      <button id="setcookie">Set Cookie</button>
      <button id="clearcookie">Clear Cookie</button>
    </div>
    <div class="cookieResponse">
      Cookie: pupCookie = <%= cookies[:pupCookie] %>
    </div>
  </section>
<script>
  $(document).ready(() => {
      $("button#setcookie").click(e => {
          e.preventDefault();
          window.location.href = "/setcookie";
      });
      $("button#clearcookie").click(e => {
          e.preventDefault();
          window.location.href = "/clearthecookie";
      });
    });
</script>

</div>



<div id="examples_container">
<h1>Examples</h1>

<hr />
<button id="delay-alert">Delay Alert</button>
|
<button id="new-window">New Window</button>
|
<a href="/" target="_blank">New Window target blank</a>
|
<button id="iframe-toggle">Iframe toggle</button>
|
<button id="element-toggle">Element toggle</button>
<hr />

<div id="delayed_content"></div>
<div id="delayed_content_debug"></div>
<div id="delayed_content_counter"></div>
<script>
$(document).ready(() => {
  let milliseconds = Math.floor(Math.random() * 10000);
  $("#delayed_content_debug").html("Milliseconds: "+ milliseconds);

  let counter = 0.0;
  let countVal = setInterval(() => {
    counter += 0.01;
    $("#delayed_content_counter").html("Counter: "+ counter.toFixed(3));
  }, 10);

  setTimeout(() => {
    clearInterval(countVal);
    $("#delayed_content").html("<p>Thanks for visiting. Contact Us for more information</p>");
  }, milliseconds);
});
</script>
<hr />

<hr />
Network Request:
<button id="get-response">GET</button>
<button id="post-response">POST</button>
<hr />

<br />
<br />
<div id="show-response">
</div>

<br />
<div>
  <a href="/" id="no-click">Should Not Be Clickable</a>
  <div class="overlap">
  </div>
</div>

<div id="iframe-div">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/BlcKBKJ8uro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  <br />
  <a href="/" id="iframe-link">Home</a>
</div>

<div>
  <select id="selectitem">
    <option value="coffee">Coffee</option>
    <option value="sunflower">Sunflower</option>
    <option value="music">Music</option>
    <option value="2021">2021</option>
  </select>
</div>

<script>
$(document).ready(function() {
});

$("#element-toggle").click(function() {
    if ($(".overlap").css("top") == "-30px") {
        $(".overlap").css({ "top": "0px", "left": "0px" });
    } else {
        $(".overlap").css({ "top": "-30px", "left": "-10px" });
    }
});

$("#iframe-toggle").click(function() {
    $("#iframe-div").toggle();
});

$("#new-window").click(function() {
  window.open("https://www.vox.com/", "vox");
});

$("#delay-alert").click(function() {
  setTimeout(function() {
    alert("Delayed Hello!");
  }, 2000);
});

$("#post-response").click(function() {
  let token_name = $("[name=csrf-param]").attr("content");
  let token_value = $("[name=csrf-token]").attr("content");

  $.ajax({
    url: "/public/slow_response",
    method: "POST",
    headers: {
      "X-CSRF-Token": token_value
    },
    data: {
      user_id: 100,
      inactive: true
    },
    success: function(resp) {
      console.log("Success");
      console.log(resp);
    },
    complete: function(resp) {
      console.log("Complete");
      console.log(resp.responseText);
      $("#show-response").html("<div class='ajax-response'>"+ resp.responseText +"</code>");
    },
    dataType: "application/json"
  });
});

$("#get-response").click(function() {
  if (confirm("Are you sure?")) {
    $.ajax({
      url: "/public/slow_response",
      method: "GET",
      data: {
        inactive: true
      },
      success: function(resp) {
        console.log("Success");
        console.log(resp);
      },
      complete: function(resp) {
        console.log("Complete");
        console.log(resp.responseText);
        $("#show-response").html("<div class='ajax-response'>"+ resp.responseText +"</code>");
      },
      dataType: "application/json"
    });
  }
});
</script>

</div>
